services:
  movie_app:
    container_name: movie_app
    image: movie_app
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - movie_db
  movie_db:
    container_name: movie_db
    image: postgres:12
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:${DB_PORT}"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: {}
